


@media (max-width: 750px) {
    .my_nav ul {
        height: fit-content;
        width: 100%;
        position: relative;
        z-index: 4;
        top: 0;
        left: 20px;
        overflow-x: hidden;
        transition: 0s;
        padding-top: 0;
    }

    .hamburger{
        display: none;

    }

    .sticky{
        position: relative;
    }

    .my_nav{
        justify-content: flex-start;

        border: none;
        column-count: 1;
        overflow: visible;
    }

    .dark_theme .my_nav ul {
        background-color: transparent;
    }

}

#litheme{
    display: none;
}


#jsBoxConsent {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 10000ms 10000ms, opacity 400ms 10000ms;
    padding-bottom: 32px;
    padding-right: 24px;
}
#jsBoxConsent.visible {
    height: auto;
    opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;

}

.jsConsentOK{
    display: none!important;
}

#closeJsBoxConsent{
    display: none;
}


