/* Dev
body{
    background-color: aquamarine;
}
header{
    background-color: chartreuse;
}
footer{
    background-color: red;
}
nav{
    background-color: blueviolet;
}*/


/* Dev */


/* ############# FONT   ############### */

/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(../font/popins-regular.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(../font/popins-regular-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(../font/poppins-regular-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(../font/poppins-semiBold-devanagari.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(../font/poppins-semiBold-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(../font/poppins-semiBold-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ############# FONT   ############### */

/* ############# THEME  ############### */

/* WHITE */
.white_theme .container {
    color: #2d3436;
}

.white_theme input{
    background-color: #dfe6e9;
}

.white_theme .code {
    background: white;
    border-color: #636e72;
}

.white_theme article img {
    border-color: #dfe6e9;
}

.white_theme article p a {
    background: linear-gradient(
            to bottom, #74b9ff 0%,
            #74b9ff 100%
    ) repeat-x 0 100%;
    color: #2d3436;
    transition: background-size .2s;
    background-size: 4px 4px;
}

.white_theme article p a:hover {
    color: #2d3436;
}

.white_theme article a {
    color: #0984e3;
}

.white_theme article a:hover {
    color: #2d3436;
}

.white_theme .siteTitle {
    background: linear-gradient(217deg, #00cec9, #0984e3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white_theme .search_input {
    border-color: #b2bec3;
    color: #2d3436;
}

.white_theme .search_btn {
    background-color: #2d3436;
    color: #dfe6e9;
}

.white_theme .search_btn:hover {
    background-color: #0984e3;
}

.white_theme .my_nav {
    background-color: white;
    border-color: #b2bec3;
}

.white_theme .my_nav ul li a {
    color: #636e72;
}

.white_theme .my_nav ul li a:hover {
    color: #0984e3;
}

.white_theme .img_article {
    border-color: #dfe6e9;
}

.white_theme aside {
    border-color: #dfe6e9;
}

@media (max-width: 750px) {

    .white_theme .my_nav ul {
        background-color: #111;
    }

    .white_theme .my_nav {
        background: linear-gradient(217deg, #00cec9, #0984e3);
    }

    .white_theme .hamburger {
        background-color: #636e72;
        color: #dfe6e9;
    }

    .white_theme .hamburger:hover {
        color: #0984e3;
        background-color: #2d3436;
    }
}

.white_theme article a:visited{
    color: #0970cf;
}

.white_theme article p a:visited {
    color: #b2bec3;
}

.white_theme article table td, table th {
    border: 1px solid #dfe6e9;
}

.white_theme article table th {
    background-color: #5C8CDC;
    color: #dfe6e9;
}

.white_theme article h1 {
    color: #0984e3;
}

.white_theme article h2 {
    color: #0984e3;
}

.white_theme article h3 {
    color: #0984e3;
}

.white_theme .siteIcon {
    background: linear-gradient(217deg, #00cec9, #0984e3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white_theme .siteIcon:hover {
    background: linear-gradient(217deg, #0984e3, #00cec9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white_theme footer p {
    color: #636e72;
}

.white_theme .container form button {
    background-color: #b2bec3;
}

.white_theme .container form button:hover {
    background-color: #0984e3;
}

.white_theme #jsBoxConsent {
    background-color: rgba(92, 140, 220, 0.8);
    color: #dfe6e9;
}

.white_theme #jsBoxConsent button {
    color: #4B8EE7;
}

.white_theme #closeJsBoxConsent:hover {
    color: #FFF;
}

.white_theme #jsBoxConsent button.jsConsentOK {
    background-color: #0984e3;
    color: #dfe6e9;
}

.white_theme #jsBoxConsent button.jsConsentOK:hover {
    background-color: #096cc2;
}


/* dark */
.dark_theme article a:visited{
    color: #c66a85;
}

.dark_theme article p a:visited {
    color: #b2bec3;
}

.dark_theme {
    background-color: #242C4C;
}

.dark_theme .container {
    color: #dfe6e9;
    background-color: #2C3C57;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;

}

.dark_theme .code {
    background: white;
    color: #242C4C;
    border-color: #636e72;
}

.dark_theme article img {
    border-color: #dfe6e9;
}

.dark_theme article p a {
    background: linear-gradient(
            to bottom, #5C8CDC 0%,
            #5C8CDC 100%
    ) repeat-x 0 100%;
    color: #dfe6e9;
    transition: background-size .2s;
    background-size: 4px 4px;
}

.dark_theme article a {
    color: #F173AF;
}

.dark_theme article a:hover {
    color: #b2bec3;
}

.dark_theme .siteTitle {
    background: linear-gradient(217deg, #5C8CDC, #F173AF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark_theme .search_input {
    border-color: #b2bec3;
    color: #b2bec3;
}

.dark_theme .search_btn {
    background-color: #b2bec3;
    color: #dfe6e9;
}

.dark_theme .search_btn:hover {
    background-color: #F173AF;
}

.dark_theme .my_nav {
    background-color: #242C4C;
    border-color: #b2bec3;
    border-top: none;
    border-bottom: none;
    box-shadow: 0 4px 2px -2px #F173AF;
}

.dark_theme .my_nav ul li a {
    color: #dfe6e9;
}

.dark_theme .my_nav ul li a:hover {
    color: #F173AF;
}

.dark_theme .img_article {
    border-color: #dfe6e9;
}

.dark_theme aside {
    border-color: #dfe6e9;
}

@media (max-width: 750px) {

    .dark_theme .my_nav ul {
        background-color: #111;
    }

    .dark_theme .hamburger {
        background-color: transparent;
        color: #dfe6e9;
    }

    .dark_theme .hamburger:hover {
        color: #F173AF;
        background-color: #b2bec3;
    }
}

.dark_theme article p a:hover {
    color: #b2bec3;
}

.dark_theme article table td, table th {
    border: 1px solid #dfe6e9;
}

.dark_theme article table th {
    background-color: #5C8CDC;
    color: #dfe6e9;
}

.dark_theme article h1 {
    color: #F173AF;
}

.dark_theme article h2 {
    color: #F173AF;
}

.dark_theme article h3 {
    color: #F173AF;
}

.dark_theme .siteIcon {
    background: linear-gradient(217deg, #5C8CDC, #F173AF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark_theme .siteIcon:hover {
    background: linear-gradient(217deg, #F173AF, #5C8CDC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark_theme footer p {
    color: #dfe6e9;
}

.dark_theme .container form button {
    background-color: #b2bec3;
}

.dark_theme .container form button:hover {
    background-color: #F173AF;
}

.dark_theme #jsBoxConsent {
    background-color: rgba(92, 140, 220, 0.8);
    color: #dfe6e9;
}

.dark_theme #jsBoxConsent button {
    color: #4B8EE7;
}

.dark_theme #closeJsBoxConsent:hover {
    color: #FFF;
}

.dark_theme #jsBoxConsent button.jsConsentOK {
    background-color: #F173AF;
    color: #dfe6e9;
}

.dark_theme #jsBoxConsent button.jsConsentOK:hover {
    background-color: #cb668e;
}



/* ############# THEME  ############### */

/* ############# DROPDOWN ############# */

.dropbtn {
    border-radius: 5px;
    background-color: #2C3C57;
    color: #dfe6e9;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    bottom: 10px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content button {
    background-color: #2C3C57;
    color: #dfe6e9;
    text-decoration: none;
    display: block;
    border: none;
    padding: 5px;
}

.dropdown-content button:hover {
    background-color: #242C4C;
    color: #b2bec3;
}


.show {
    display: flex;
    flex-direction: column;
}

/* ############# DROPDOWN ############# */

/* ############# ALL    ############### */
.container {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

.code {
    font-family: 'Consolas', sans-serif;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

h1 {
    font-weight: 600;
}

a {
    outline: none;
}

html {
    line-height: 1.5em;
}


.marg-top20px {
    margin-top: 20px;
}

.body {
    display: flex;
}

/* ############# ALL    ############### */

/* ############# ARTICLE ############## */

article img {
    max-width: 50rem;
    max-height: 50rem;
    border: 1px solid;
}

article p {
    max-width: 50rem;
    text-align: justify;
}

article p a {
    text-decoration: none;
}

article p a:hover {
    background-size: 4px 50px;
}



article a {
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

article ul {
    max-width: 50rem;
}

article table {
    border-collapse: collapse;
    max-width: 50rem;
}

article table td, table th {
    border: 1px solid;
    padding: 8px;
}

article table th {
    padding: 12px 0 12px 0;
    text-align: center;
}

article h1 {
    margin: 1.5em 0 1.5em 0;
}

article h2 {
    margin: 1em 0 1em 0;
}

article h3 {
    margin: 0.5em 0 0.5em 0;
}

article figcaption {
    background-color: #242C4C;
    padding: 3px;
    text-align: center;
    font-style: italic;
}

article figure {
    display: flex;
    flex-flow: column;
    max-width: 50rem;
    margin: 0;
}

/* ############# ARTICLE ############## */

/* ############# HEADER ############### */
.siteTitle {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.siteIconTitle {
    font-size: 5rem;
}

.siteIcon {
    cursor: pointer;
}

.container_header {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* ############# HEADER ############### */

/* ############# NAV    ############### */
.my_nav {

    border-bottom: 1px solid;
    border-top: 1px solid;

    display: flex;
    z-index: 1;
}

.nav_container {
    padding-left: 5rem;
    padding-right: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


.my_nav ul {
    display: inline-flex;
    padding: 0;
}

.my_nav ul li {
    list-style: none;
    margin-right: 40px;
    align-items: center;
    display: flex;
    font-size: 16px;
    white-space: nowrap;
}

.my_nav ul li a {
    text-decoration: none;

}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

.hamburger {
    display: none;
}

.test {
    align-content: flex-end;
}

.icons {
    font-size: 24px;
    vertical-align: text-top;
    margin-left: 5px;
}

/* ############# NAV    ############### */


/* ############# carrousel ############# */


/* ############# carrousel ############# */

/* ############# list_article ############# */

.list_article {
    display: block;
}

.articleResume {
    margin-top: 60px;
}


.img_article {
    border: 1px solid;
    height: 100px;
    width: 150px;
    margin-left: 10px;
}

.text_article {
    max-width: 50rem;
    display: inline-flex;
}

.articleResume h3 {
    margin: 0;
}

/* ############# list_article ############# */

/* #############     aside    ############# */

aside {
    margin-left: 5px;
    width: 20%;
    margin-top: 25%;
    margin-bottom: 25%;
    height: fit-content;
    border: 1px solid;
}


/* #############     aside    ############# */


/* #############    footer    ############# */

footer {
    margin: 1em 0 1em 0;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
}

.footerIcon {
    font-size: 1.5rem;
    margin-left: 10px;
}

/* #############    footer    ############# */

/* #############    Media     ############# */

@media (max-width: 932px) {
    article img {
        max-width: 100%;
    }

    aside {
        display: none;
    }


}

@media (max-width: 850px) {
    .text_article {
        flex-direction: column;
    }

    .img_article {
        margin-left: 0;
    }

}


@media (max-width: 750px) {

    .siteTitle {
        margin-top: 10px;
    }

    .siteIconTitle {
        margin-top: 10px;
        font-size: 3.2rem;
    }

    .my_nav ul {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 4;
        top: -20px;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
    }

    .my_nav ul li {
        margin-top: 5px;
    }

    .container_header {
        flex-direction: column;
        padding-top: 10px;
    }

    .search {
        margin-top: 5px;
        align-self: flex-start;
    }

    .my_nav {
        justify-content: flex-end;

        border: none;
        column-count: 1;
        overflow: visible;
    }


    .navShow ul {
        display: flex;
        flex-direction: column;
        width: 200px;

    }

    .nav_container {
        padding: 5px;
    }

    .hamburger {
        display: block;
        border: none;
        border-radius: 30px;
        height: 100%;
        padding: 0.6rem 1rem;
        margin-left: 10px;
        color: #dfe6e9;
        font-size: 0.8rem;
    }

    .hamburger:hover {
        color: #0984e3;
        background-color: #2d3436;
    }


}

/* #############    Media     ############# */

/* #############   FORM       ############# */

.invalid {
    border-color: #900;
    background-color: #FDD;
}


.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

.container form input {
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 5px;
}

.container form button {
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #242C4C;
}


/* #############   FORM       ############# */


/* #############   Js Box     ############# */
#jsBoxConsent {
    min-height: 26px;
    font-size: 14px;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    position: fixed;
    bottom: 20px;
    left: 10px;
    display: block;
    z-index: 3;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#jsBoxConsent button {
    text-decoration: none;
    border: none;
}

#closeJsBoxConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}

#jsBoxConsent button.jsConsentOK {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    float: right;
    margin: 0 15px 0 10px;
}

/* #############   Js Box     ############# */
